{% extends 'main/layout.html' %}

{% block title %}
<title>About Us</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>About Us</h1>
        <main class="col-md-9 content-padding">
            <p>Ballet is a French word which had its origin in Italian balletto, a diminutive of ballo (dance) which comes from Latin ballo, ballare, meaning "to dance", which in turn comes from the Greek "βαλλίζω" (ballizo), "to dance, to jump about".</p>
            <p>The word came into English usage from the French around 1630.</p>
            <p>In French, the word refers to a ballet performance, a ballet work, and possibly to the dance genre itself, although the expression danse classique also exists for the latter meaning, is less equivocal and is more commonly used when referring to the learning of this dance.</p>
        </main>
    </div>
</div>
{% endblock %}


